<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678009121794-csskraaahlopptmpb6gargdn2h3cr2sa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678009121794-csskraaahlopptmpb6gargdn2h3cr2sa</string>
	<key>API_KEY</key>
	<string>AIzaSyBlJdjTyDrGROn540UFADUKAuDdO-y7Nt8</string>
	<key>GCM_SENDER_ID</key>
	<string>678009121794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Riga-Coding-School.ChuckNorrisApp</string>
	<key>PROJECT_ID</key>
	<string>chucknorrisapp-2703d</string>
	<key>STORAGE_BUCKET</key>
	<string>chucknorrisapp-2703d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678009121794:ios:517ba03ff33812585f4b1b</string>
	<key>DATABASE_URL</key>
	<string>https://chucknorrisapp-2703d.firebaseio.com</string>
</dict>
</plist>